/**
 * @name Glass
 * @author XerwinXpl
 * @version 0.1.0
 * @description look like glass
 * @donate https://paypal.me/XerwinXpl
 * @authorId 698236413757620367
 * @authorLink https://twitter.com/XerwinXpl
 * @source 
 * @website github.com/E15dev/BD-glass-theme/
 * @updateUrl 
*/
