/**
 * @name Glass
 * @author XerwinXpl
 * @version 0.1.0
 * @description look like glass
 * @donate https://paypal.me/XerwinXpl
 * @authorId 698236413757620367
 * @authorLink https://twitter.com/XerwinXpl
 * @source https://raw.githubusercontent.com/E15dev/BD-glass-theme/main/glass.theme.css
 * @website github.com/E15dev/BD-glass-theme/
 * @updateUrl https://raw.githubusercontent.com/E15dev/BD-glass-theme/main/glass.theme.css
*/

/*
@import url(https://raw.githubusercontent.com/E15dev/BD-glass-theme/main/s.css);
*/

.contents-3ca1mk {
    color : #36ced9;
}

.unread-36eUEm.unreadRelevant-2f-VSK {
    color : #36ced9;
}

a.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX.link-1-SDSV {
    color: #36ced9;
}

.winButtonClose-3Q8ZH5 {
    color: #f00 !important;
}

.winButtonMinMax-3RsPUg.winButton-3UMjdg {
    color: #0aa !important;
}
